header{
    padding-top: 2%;
    padding-bottom: 2%;
    margin-right: 10%;
    margin-left: 10%;  
    border-color: grey;
    border-bottom-style: solid;
}

#textBody {
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    font-size: large;
}

#textBody > p{
    padding-top: 10px;
}

.icons{
    text-align: right;
    margin-right: 2%;
    margin-bottom: 2%;
}

/* https://stackoverflow.com/questions/43727032/hero-footer-not-at-bottom-of-page  ref for here....*/
html,body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
body > footer {
    margin-top: auto;
}
/* to here */

footer a {
    color: black;
}

ul {
    padding: 0;
}
